<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="comment-card">
        <div class="card-category list-inline">
          <% if policy(Post).edit? %>
          <%= link_to "Delete", post_comment_path(@post, comment), :class => "btn btn-default",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          <% end %>
          <% if policy(Post).edit? %>
          <%= link_to "Edit", edit_post_comment_path(@post, comment), :class => "btn btn-success" %>
          <% end %>
          <p><%= comment.created_at.strftime("Posted %a %m %b %Y at %I:%M%p by") %>
            <%= comment.user.username %>
            <% if comment.user.avatar? %>
           <%= cl_image_tag comment.user.avatar.path, class: "avatar" %>
          <% end %>
          </p>
        </div>
          <div class="card-description">
          <p><%= comment.content  %></p>
          <% #if policy(Comment).destroy? %>

            <!-- <p><%=  %></p> -->
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <%#= link_to "", post_path(post), class: "card-link"%>
      </div>
    </div>
  </div>
</div>
