

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Editing Post</h1>
      <%= simple_form_for @post do |f| %>
        <%= f.input :title, placeholder: "Enter a title" %>
        <%= f.input :summary, placeholder: "Short summary of post" %>
        <%= f.input :post_content, as: :text %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.input :video, as: :attachinary %>
        <%= f.submit class: "btn btn-danger"%>
      <% end %>
    </div>
  </div>
</div>
