<% content_for(:title) do %>
  <%= @post.title %>
<% end %>

<div class="banner-post" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1><%= @post.title %></h1>
    <h2><%= @post.summary %></h2>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <%= render "posts/data"%>
  </div>
</div>


<div class="container">
  <div class="row">
    <%= render "posts/media" %>
  </div>
</div>



<div class="container">
  <div class="row">
    <% @post.comments.each do |c| %>
    <%= render "posts/comment", comment: c %>
    <% end %>
  </div>
</div>


<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
    <%= simple_form_for [@post, @comment] do |f| %>
    <%= f.input :content, as: :text, label: "Post reply" %>
    <%= f.submit "Add comment", class: "btn btn-default" %>
    <% end %>
    </div>
  </div>
</div>


